/* use this file to import your various scss files 

/* ---base styles (generic stuff like fonts) */
/* ,ake sure you get the reset maybe use normalize.scss */
body {
  background-color: hsla(0, 33%, 97%, 0.986);
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

a:hover {
  cursor: pointer;
}

/* ---component styles (things like buttons) */
.btn {
  width: 220px;
  height: 50px;
  color: rgb(240, 232, 240);
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(177, 86, 165) 0%, rgba(147, 13, 149, 0.6092544987) 35%, rgb(255, 0, 193) 100%);
  border: none;
  border-radius: 5ex;
  margin: 30px 0 70px;
  font-size: 100%;
  transition: all 400ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px 0.5px #c70b98;
  transition: 1s;
}
.btn:hover {
  box-shadow: 0px 5px 5px -1px #7e7a7e;
}

.btn__works {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 0 10px 10px;
  width: 98%;
  transition: 1s;
  box-shadow: 0px 5px 5px -1px #7e7a7e;
}
.btn__works:hover {
  background-color: #f8d1f8;
  color: #be37e0;
}
.btn__works:hover .input-icon {
  color: rgb(155, 29, 167);
}

.num {
  position: absolute;
  display: flex;
  flex-grow: initial;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: #9356DC;
  color: hsla(0, 33%, 97%, 0.986);
  border-radius: 100px;
  left: -12px;
}
.works-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  height: auto;
  z-index: 1;
  padding: 10px 0 10px 0;
  margin: 10px 10px 10px 30px;
  font-size: 110%;
  font-weight: 10px;
  color: rgb(23, 22, 27);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .works-text {
    margin-left: 3px;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .works-text {
    font-size: 18px;
  }
}

.input-icon {
  display: block;
  color: rgb(78, 82, 81);
  font-size: 150%;
  margin: 0 0 0 40px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .input-icon {
    margin-left: 25px;
  }
}

.btn-container {
  padding: 50px 0;
}

.btn_order {
  width: 220px;
  color: rgb(240, 243, 243);
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(177, 86, 165) 0%, rgba(147, 13, 149, 0.6092544987) 35%, rgb(255, 0, 193) 100%);
  border-radius: 20px;
  margin: auto;
  font-size: 100%;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px 0.5px #6e6c6c;
}
.btn_order:hover {
  box-shadow: 0px 5px 5px -1px #7e7a7e;
  transition: 1s;
}

.loading {
  animation: hideAnimation 0s ease-in 3s;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: #fff;
  background-color: black;
  text-align: center;
  padding-top: 150px;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin: 0.19em;
  background: #9356DC;
  border-radius: 0.6em;
  animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
  background: #FF79DA;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: #99E2D0;
  animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: #9356DC;
  animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: #FF79DA;
  animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: #99E2D0;
  animation-delay: 1s;
}

.loading span:nth-of-type(7) {
  background: #9356DC;
  animation-delay: 1.2s;
}

/*
   * Animation keyframes
   * Use transition opacity instead of keyframes?
   */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart-items i {
  transition: opacity 1s ease-in-out;
}

.heart-fill {
  background: linear-gradient(pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-fill:hover {
  opacity: 1;
}

.dishes {
  padding: 0;
}
.dishes:hover {
  cursor: pointer;
}
.dishes:hover .dishes__icon {
  right: 0;
}
.dishes:hover .dishes__price {
  margin-right: 70px;
}
.dishes:hover .dishes__rotate {
  transform: rotate(360deg);
}
.dishes__content {
  border-radius: 20px;
  background: white;
  position: relative;
  overflow: hidden;
  display: flex;
}
.dishes__text {
  flex-grow: 1;
}
.dishes__price {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0 10px;
  transition: margin 1s ease-in-out;
}
.dishes__text, .dishes__heading {
  padding: 0 10px;
  transition: margin 1s ease-in-out;
  margin: 7px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishes__icon {
  position: absolute;
  top: 0;
  right: -70px;
  height: 100%;
  width: 70px;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 1s ease-in-out;
}
.dishes__rotate {
  transition: all 1s ease-in-out;
  transform: rotate(0deg);
  color: white;
}

.menu-animate .grid-row:nth-child(1) {
  animation: menu-slideup 3s ease-in 3s;
}

.menu-animate .grid-row:nth-child(2) {
  animation: menu-slideup 2s ease-in 4s;
}

.menu-animate .grid-row:nth-child(3) {
  animation: menu-slideup 2s ease-in 6s;
}

@keyframes menu-slideup {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ---layout styles (things like positioning things on the page) */
.grid-container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
}
.grid-row .grid-col {
  margin: 0 20px;
  width: calc(100% - 40px);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-row .grid-col-2-tablet {
    width: calc(50% - 40px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-row .grid-col-3-tablet {
    width: calc(33.3333333333% - 40px);
  }
}
@media (min-width: 1024px) {
  .grid-row .grid-col-3-desktop {
    width: calc(33.3333333333% - 40px);
  }
}
@media (min-width: 1024px) {
  .grid-row .grid-col-4-desktop {
    width: calc(25% - 40px);
  }
}

.wrapper {
  position: relative;
}

.location {
  background-color: rgb(221, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 104px;
  padding-right: 120px;
  z-index: 0;
  color: rgb(83, 79, 79);
  box-shadow: 0 0 10px 0.5px #6e6c6c;
}
.location i {
  margin: 16px 18px 16px 0;
}

.text {
  display: flex;
  justify-content: center;
  font-size: 100%;
}

header {
  background-color: #edebee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 0 50px 0;
}
header p {
  color: #717472;
}

.heading-works {
  margin: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .heading-works {
    width: 100%;
    font-size: 30px;
  }
}

.restaurant-list {
  margin-top: 80px;
  background-color: #edebee;
}

.heading-list {
  margin: 50px 0 10px 20px;
}
@media (min-width: 1024px) {
  .heading-list {
    width: 100%;
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .heading-list {
    width: 100%;
    justify-content: space-between;
    font-size: 40px;
  }
}

.restaurant {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(101, 102, 101, 0.2);
  transition: 0.3s;
}
.restaurant__image-box {
  position: relative;
}
.restaurant__label {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 20px 5px 20px;
  font-size: 15px;
  color: rgb(49, 139, 60);
  background-color: #99E2D0;
  border-radius: 3px;
}
.restaurant__image {
  width: 100%;
  height: 15rem;
  display: block;
  border-radius: 1rem 1rem 0rem 0rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  margin: 0 10px 0 0;
}
.restaurant__text {
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 15px;
  align-content: space-between;
  color: rgb(10, 15, 12);
}
.restaurant__title {
  font-size: 18px;
}
.restaurant__icon {
  font-size: 10px;
  margin-right: 30px;
}

.container-img {
  width: 100%;
}
.container-img img {
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
}
@media (min-width: 1024px) {
  .container-img img {
    height: 350px;
  }
}

.menu {
  color: rgb(27, 27, 31);
  background-color: rgb(241, 241, 241);
  border: 20px;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -90px;
}

.menu h5 {
  position: relative;
  padding: 0;
  margin: 20px 0 20px 0;
  color: rgb(107, 109, 109);
}

.menu h5::after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 30px;
  height: 3px;
  bottom: -5px;
  left: 0;
}

.menu__title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 0 20px;
}

.menu__title {
  margin: 0;
  color: rgb(18, 19, 19);
  font-family: cooper;
  font-style: oblique;
  font-size: 30px;
}

.i {
  display: flex;
  margin: 15px 0 10px -100px;
  font-size: 20px;
  position: relative;
  color: rgb(18, 167, 50);
}

.dishes {
  margin-bottom: 15px;
}
.dishes .dishes__text {
  color: rgb(63, 62, 62);
}

.footer {
  background-color: rgb(54, 54, 54);
  padding: 20px 10px 25px 20px;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer__logo {
  font-size: 1.5rem;
  font-style: italic;
  font-family: cooper;
  color: #f7f4f4;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer .footer__list {
  margin: 20px 0 30px 0;
}
.footer .list__option {
  color: #fff;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
}
.footer .list__option i {
  padding-right: 15px;
}
.footer .footer__list a {
  color: #fff;
  text-decoration: none;
}

.logo {
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    font-size: 10px;
  }
}
.logo img {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.logo .back-arrow {
  position: absolute;
  top: calc(50% - 10px);
  left: 20px;
  margin: auto 0;
}
.logo i {
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */