*.DS_Store
.vscode/settings.json
maquettes/Animations/Animation - Page Menu - Apparition progressive.mp4
maquettes/Animations/Animation - Page Menu - Sélection d_un plat.mp4
Creative Brief - Ohmyfood!.pdf
