// page loader animation
.loading {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: #fff;
  background-color: black;
  text-align: center;
  padding-top: 150px;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin: 0.19em;
  background: $primary;
  border-radius: 0.6em;
  animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
  background: $secondary;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: $tertiary;
  animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: $primary;
  animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: $secondary;
  animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: $tertiary;
  animation-delay: 1s;
}

.loading span:nth-of-type(7) {
  background: $primary;
  animation-delay: 1.2s;
}

/*
   * Animation keyframes
   * Use transition opacity instead of keyframes?
   */
@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// hearts animation
.heart-items i {
  transition: opacity 1s ease-in-out;
}

.heart-fill {
  background: linear-gradient(pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-fill:hover {
  opacity: 1;
}

.dishes {
  $self: &; //this allows us to use #{ $self } to refer to .container
  padding: $container-padding;

  &:hover {
    cursor: pointer;

    #{ $self }__icon {
      right: 0; //animation that slides icon in from right side
    }

    #{ $self }__price {
      margin-right: $slide-width; // animation margin so we can see ellipses if text doesn't fit, included for heading as well, but maybe it not needed for heading and text should just wrap, so you could remove the heading one if you wish
    }

    #{ $self }__rotate {
      transform: rotate(360deg); // animation for rotation
    }
  }

  &__content {
    border-radius: 20px;
    background: white;
    position: relative; // this is so that when we use position absolute the icon container will be in the right place
    overflow: hidden; // we set it to overflow hidden, to hide the slide in of the icon, remove this and your see what I mean
    display: flex;
  }

  &__text {
    flex-grow: 1;
    // text styles
  }

  &__price {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0 10px;
    transition: margin $duration ease-in-out;
  }

  &__text,
  &__heading {
    padding: 0 10px;
    transition: margin $duration ease-in-out; // transition the text to match the slide in transition
    margin: 7px 0;
    white-space: nowrap; // stop text from wrapping onto new line
    overflow: hidden;
    text-overflow: ellipsis; // this is what sets the ellipsis for the text
  }

  &__icon {
    position: absolute;
    top: 0;
    right: -($slide-width + $container-padding); //places this off screen, and slides in when hovering, also takes into consideration the container padding
    height: 100%;
    width: $slide-width;
    background: $tertiary; // chamge colour of tick here
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right $duration ease-in-out;
  }

  &__rotate {
    transition: all $duration ease-in-out;
    transform: rotate(0deg); // set the initial rotation value
    color: white;
  }
}

// floating menu animation
.menu-animate .grid-row:nth-child(1) {
  animation: menu-slideup 3s ease-in 3s;
}

.menu-animate .grid-row:nth-child(2) {
  animation: menu-slideup 2s ease-in 4s;
}

.menu-animate .grid-row:nth-child(3) {
  animation: menu-slideup 2s ease-in 6s;
}

@keyframes menu-slideup {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
