// html {
//     margin: auto;
//     font-family: Roboto, sans-serif;

//     @media (min-width: 768px) and (max-width: 1023px) {
//         color: rgb(29, 27, 27);
//     }
// }


body {
    background-color: $quaternary;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    // @include for-phone-only {    
    //     font-size: 1rem; 
    //  }
    // @include for-desktop {
    //     margin: 0 10px 0 10px;
    // }
}

a:hover {
    cursor: pointer;
}

