$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$gutters: 10px;
$quaternary: hsla(0, 33%, 97%, 0.986);
$fifth: #edebee;
$sixth: rgb(221, 218, 218);
$seventh: #070707;

$mediaphone: "(max-width: 768px)";
$mediatablet: "(max-width: 768px)";
$medialaptop: "(min-width: 992px)";

